<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">Grow your business with us</p>
            <div class="row">
                
                <div class="col-md-6 col-12 about-text">
                    <figure>
                        <img src="img/about.svg" alt="Image" oncontextmenu="return false;">
                    </figure>
                </div>

                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE PROFESSIONAL DEVELOPER</h1>
                    <p>Welcome to <span class="bold-style">Dhruv's world </span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <button class="btn-style btn-primary">Read More</button>
                </div>

            </div>
        </div>
    </div>
</div>